.preview_title {
  color: #f0903a;
}
.preview_content {
  color: #e3e3e3;
}
.preview {
  background: #192029;
  padding: 4%;
  border-left: 5px solid #e3e3e3;
}
.preview_author {
  padding: 4px;
  color: #afafaf;
}
.preview_description {
  color: #898989 !important;
}
