/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section:first-of-type {
  position: relative; /* Establecer posición relativa en la primera sección */
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
#never_ever {
  color: #ffc107;
}
.title_primary_section {
  position: absolute;
  font-weight: 600;
  z-index: 1;
  top: 15rem;
  font-size: 2rem;
  animation: title 2s alternate forwards;
  color: whitesmoke;
  padding: 2.5%;
  text-transform: uppercase;
}

#about {
  background-color: #ffffff;
  margin-bottom: 0;
  background-image: url(/images/backgrounds/banner2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 60vh;
  max-height: 650px;
  box-shadow: 0px 1px 14px 2px #00000078;
  animation: backgrounds 10s alternate infinite ease-in-out;
}
@keyframes backgrounds {
  0% {
    background-image: url(/images/backgrounds/estadio.jpg);
    opacity: 0.8;
  }
  50% {
    background-image: url(/images/backgrounds/hinchas2.jpg);
    opacity: 0.8;
  }
  100% {
    background-image: url(/images/backgrounds/person.jpg);
    opacity: 0.8;
  }
}
/* Aplicar filtro brightness solo al fondo de la primera sección */
.section:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  filter: brightness(0.5);
}
.section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section_title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .logos_card {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 30%;
  }
  .logos_card img {
    width: 8.5rem;
    height: auto;
    margin-left: 2%;
    filter: drop-shadow(0px 3px 0px #16151591);
  }
  .title_primary_section {
    width: 90%;
    position: absolute;
    z-index: 1;
    top: 20rem;
    font-size: 3rem;
    animation: title 2s alternate forwards;
    color: whitesmoke;
  }
}

@media (max-width: 1200px) {
  .logos_card {
    display: flex;
    justify-content: center;
  }
  .logos_card img {
    width: 100px;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .title_primary_section {
    position: absolute;
    left: 37%;
    transform: translate(-50%, -50%);
    z-index: 1;
    top: 19rem;
    font-size: 3.5rem;
    animation: title 2s alternate forwards;
    color: whitesmoke;
  }
}
@media (max-width: 768px) {
  .title_primary_section {
    top: 25%;
    left: 0;
    padding: 2.5%;
    z-index: 1;
    font-size: 2.5rem;
    transform: none;
    text-align: left;
    animation: title 2s
      alternate forwards;
    color: whitesmoke;
  }
  #never_ever {
    font-size: 33px;
  }
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffc107;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/* For title animation */
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 4px #2b1c0e96;
  }
}
