/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  position: fixed;
  font-weight: 500;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9997;
  background:url("/images/backgrounds/creat-bg.jpg");
}

#footer .copyright {
  text-align: center;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
#footer strong {
  color: #dfdfdf
}