/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-transform: uppercase;
  position: fixed;
  font-weight: 500;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9997;
  background-color: #2b3542;
}

#footer .copyright {
  text-align: center;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
